.mu-float-wrapper.z-format-picker-container {
  overflow: visible;
  border-radius: 2px;
}

.z-format-picker {
  width: 240px;
  height: 30px;
}

.z-format-picker ul,
.z-format-picker li {
  margin: 0;
  padding: 0;
}

.z-format-picker ul {
  display: flex;
  padding: 0;
}

.z-format-picker li.item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30px;
  height: 30px;

  list-style: none;
  cursor: pointer;
}

.z-format-picker li.item:hover {
  background: var(--float-hover-color);
}

.z-format-picker li.item .icon-wrapper {
  display: flex;
  width: 16px;
  height: 16px;
}

.z-format-picker li.item .icon-wrapper i.icon {
  position: relative;

  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: auto;

  color: var(--icon-color);

  transition: all .25s ease-in-out;
}

.z-format-picker li.item .icon-wrapper i.icon > i[class^="icon-"] { 
  position: relative;
  left: -16px;

  display: inline-block;
  width: 100%;
  height: 100%;

  filter: drop-shadow(16px 0 currentcolor);
}

.z-format-picker li.item.active .icon-wrapper i.icon {
  color: var(--theme-color);
}
