.mu-float-wrapper.z-image-toolbar-container {
  overflow: visible;
  border-radius: 2px;
}

.z-image-toolbar {
  width: 180px;
  height: 30px;
}

.z-image-toolbar ul,
.z-image-toolbar li {
  margin: 0;
  padding: 0;
}

.z-image-toolbar ul {
  display: flex;
  padding: 0;
}

.z-image-toolbar li.item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30px;
  height: 30px;

  list-style: none;
  cursor: pointer;
}

.z-image-toolbar li.item:hover {
  background: var(--float-hover-color);
}
.z-image-toolbar li.item.active{
  background: var(--float-hover-color);
}

.z-image-toolbar li.item .icon-wrapper {
  width: 16px;
  height: 16px;
}

.z-image-toolbar li.item .icon-wrapper i.icon {
  position: relative;

  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: auto;

  color: var(--icon-color);

  transition: all .25s ease-in-out;
}

.z-image-toolbar li.item .icon-wrapper i.icon > i[class^="icon-"] { 
  position: relative;
  left: -16px;

  display: inline-block;
  width: 100%;
  height: 100%;

  filter: drop-shadow(16px 0 currentcolor);
}

.z-image-toolbar li.item.active .icon-wrapper i.icon {
  color: var(--theme-color);
}

.z-image-toolbar ul.resize-list{
  background:#fff;
  display:none;
  list-style:none;
  margin-left:20px;
  width:50px;
}

.z-image-toolbar li.resize-list-item{
  padding:5px;
  text-align:center;
  background: #fff;
}

.z-image-toolbar li.resize-list-item.active{
  padding:5px;
  text-align:center;
  background: var(--float-hover-color);
}

.z-image-toolbar li.resize-list-item:hover{
  background: var(--float-hover-color)!important;
  cursor: pointer;
}